body {
	
	#head {
		margin-bottom: 50px;
		
		img {
			max-width: 250px;
			width: 25%;
		}
		
		.description {
			margin-bottom:5px;
		}
		
		p:last-child {
			font-size: 11px;
		}
	}
	
	#alt-migration-modal {
		
		.builder {
			color: #3097d1;
			max-height: 350px;
			overflow: scroll;
			padding: 5px;
		}
		
	}
	
	#app-panel {
		
		.failure {
			color: #e31a1a;
		}
		
		.init-hide {
			display: none;
		}
		
		#project-properties {
			border: 1px solid #eee;
			padding: 10px 15px;
			
			.header {
				border-bottom: 1px solid #eee;
				margin-bottom: 5px;
			}
		}
		
		#project-target-path {
			padding: 6px 20px;
			vertical-align: middle
		}
		
		#project-version {
			
			select {
				display: inline-block;
				width: 75%;
			}
			
			button {
				display: inline-block;
				width: 24%;
			}
		}
		
		#run-migration {
			
			.loading {
				display: none;
				
				img{
					max-width: 50px;
				}
			}
		}
		
		.select-target-project-path,.target-project-properties {
			margin-bottom: 25px;
		}
		
		.status {
			list-style: none;
			margin: 5px 0px 0px 0px;
			padding: 0px;
		}
		
		.success {
			color: #14b038;
		}
		
		.target-project-properties {
			border: 1px solid #eee;
			border-radius: 3px;
			padding: 15px 15px 0px;
			text-align: left
		}
		
		.user-input {
			margin-bottom: 25px;
		}
	}
	
	#error-modal {
		
		.modal-body {
			overflow-y: scroll
		}
		
		.warning,.error {
			border-bottom: 1px solid #eee;
			font-size: 11px;
			padding: 10px;
			text-transform: capitalize;
			
			.custom-path,.migrate-anyway {
				display: inline-block;
				margin: 10px 5px 0px;
				text-align: center;
			}
			
			.glyphicon {
				margin-right: 5px;
			}
			
			.message {
				display: block;
				text-align: left;
			}
		}
		
		.warning,.error:last-child {
			border-bottom: none;
		}
	}
	
	.builder {
		
		.glyphicon {
			font-size: 12px;
			color: #3097D1;
		}
		
		.directory-trigger {
			font-weight: bold;
			
		}
		
		.file {
			cursor: pointer;
			margin: 10px 0px 0px;
			text-align: left;
			
			input {
				margin-right: 5px;
			}
		}
		
		.file:hover{
			background-color: #fafafa;
		}
		
		.directory {
			display: none;
			padding-left: 10px;
		}
		
		.directory:first-child {
			display: block;
		}
	}
	
	#migration-builder {
		border: 1px solid #eee;
		color: #3097D1;
		padding: 10px 15px;

	}
	
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		text-align: left;
		
	}
	
	.loader {
		display: none;
	}
}